<clr-wizard #wizard clrWizardSize="lg">
    <clr-wizard-title>Edit a serie</clr-wizard-title>

    <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
    <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
    <clr-wizard-button [type]="'finish'">Finish</clr-wizard-button>

    <clr-wizard-page>
        <ng-template clrPageTitle>Serie</ng-template>
        <app-serie-editor [serie]="serie"></app-serie-editor>
    </clr-wizard-page>

    <clr-wizard-page>
        <ng-template clrPageTitle>Seasons</ng-template>
        <div *ngFor="let season of serie.seasons">
          <app-season-editor [season]="season"></app-season-editor>
        </div>
    </clr-wizard-page>

    <clr-wizard-page>
        <ng-template clrPageTitle>Episode</ng-template>
          
    </clr-wizard-page>
</clr-wizard>