<form #serieForm="ngForm">
  <section class="form-block">
    <div class="form-group">
      <label for="serieNameInput">Serie's name</label>
      <input type="text" name="serieNameInput" id="serieNameInput" [(ngModel)]="serie.folder.name" placeholder="Enter value here" size="45">
      <a (click)="search()" class="btn btn-primary">Search</a>
    </div>
    <div class="form-group">
      <label for="serieImageInput">Serie's image</label>
      <input type="text" name="serieImageInput" id="serieImageInput" [(ngModel)]="serie.image" placeholder="Enter value here" size="45">
    </div>
    <div class="form-group">
      <label for="serieFirstAirDateInput">Serie's first air date</label>
      <input type="date" name="serieFirstAirDateInput" id="serieFirstAirDateInput" [(ngModel)]="serie.firstAirDate" placeholder="Enter value here" size="45">
    </div>
    
    <div class="form-group">
      <label for="serieDescriptionInput">Serie's description</label>
      <textarea id="serieDescriptionInput" [(ngModel)]="serie.description" name="serieDescriptionInput" rows="5"></textarea>
    </div>
    
    <button (click)="onSubmit()" class="btn btn-primary">Save</button>
  </section>
</form>

<clr-modal [clrModalSize]="'xl'" #tmdbModal>
    <h3 class="modal-title">Select a serie</h3>
    <div class="modal-body">
      <div class="row">
        <div *ngFor="let item of series" class="col-md-4 col-sm-6 col-xs-12">
          <a class="card clickable" (click)="onSerieSelected(item)">
            <div class="card-img">
              <img src="{{imgUrl + item.poster_path}}" alt="..." />
            </div>
            <div class="card-header">
              <p>{{item.name}}</p>
            </div>
            <div class="card-block">
              <h4 class="card-text">
                {{item.overview}}
              </h4>
            </div>
          </a>
        </div>
      </div>
    </div>
  </clr-modal>
