<div class="jumbotron">
  <h1 class="display-3">La maison</h1>
  <p class="lead">Les pièces de la maison.</p>
  <hr class="my-4">
  <p class="lead">
    <button type="button" class="btn btn-primary" (click)="createRoom()">Nouvelle pièce</button>
  </p>
</div>

<div class="card-deck">
  <ng-container *ngFor="let room of rooms; let i = index;">
    <div class="col-12 col-md-6 col-lg-4">
      <app-room-card [room]="room" (deleted)="roomDeleted($event, i)"></app-room-card>
    </div>
  </ng-container>
</div>

<app-room-editor #roomEditor (saved)="roomCreated($event)"></app-room-editor>

