<ng-container *ngIf="room">

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h5>{{room.name}} <button class="btn btn-primary" (click)="updateRoom()">Edit</button></h5>
      <p>Temperature: X °C</p>
      <p>Luminosité: Jour</p>
      <p>Mouvement: Oui</p>
    </div>

    <div class="col-sm-12 col-md-6">
      <h5>Alarmes</h5>
      <app-alarm-manager [roomId]="room.id"></app-alarm-manager>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h5>Musiques</h5>

    </div>

    <div class="col-sm-12 col-md-6">
      <h5>Appareils</h5>

    </div>
  </div>

  <app-room-editor #roomEditor [room]="room"></app-room-editor>
</ng-container>


