
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">{{alarm.name}}</h4>
      <p class="card-text">{{alarm.time}}</p>
      <span *ngFor="let key of keys();">
        <span *ngIf="alarm.days.indexOf(key) != -1"> {{days[key]}} | </span>
      </span>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-12">
          <button (click)="delete()" style="width: 100%" type="button" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
  </div>
