<div class="row">
  <div class="col-md-8 col-xs-12">
    <app-search-bar [timeout]="500" (valued)="onSearch($event)"></app-search-bar>
  </div>
  
  <div class="col-md-4 col-xs-12">
    <button style="width: 100%; display: block;" (click)="openMovieEditorModal()" class="btn btn-outline">Add new movie</button>
  </div>
</div>

<div class="row">
  <div *ngFor="let movie of movies" class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <app-movie-card (click)="onMovieClicked(movie)" [movie]="movie"></app-movie-card>
  </div>
</div>

<clr-modal #movieEditorModal>
  <h3 class="modal-title">Edit a movie</h3>
  <div class="modal-body">
    <app-movie-editor (saved)="onMovieSaved($event)"></app-movie-editor>
  </div>
</clr-modal>
