<div id="single-page">
  <div class="center-vertical">
    <div class="container">
      <div class="row">
        <p class="col-8 offset-2"><!--Bonjour, je suis Ava :)--></p>
      </div>
      <div class="row" style="margin: 0.5em;"></div>
      <div class="row">
        <form class="col-4 offset-4">
          <div class="form-group row">
            <label for="formGroupExampleInput">Code admin</label>
            <input [(ngModel)]="code" name="adminCode" type="password" class="form-control" id="adminCode"/>
          </div>
          <div class="form-group">
            <div class="row justify-content-center">
              <div class="col col-8">
                <button (click)="login()" type="submit" class="btn btn-primary" style="width: 100%">Connexion</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
