
<div class="row flex-items-xs-center">
  <div class="col-md-6 col-xs-12">
    <h2 style="text-align: center;"><app-typewriter [id]="'welcomeMsgWriter'" [string]="'Hi i\'m Ava :)'"></app-typewriter></h2>
    <div class="jumbotron">
    <input style="width: 100%; display: block;" class="password" type="password" id="passwordInput">
    <button style="width: 100%; display: block;" type="submit" class="btn btn-primary">Login</button>
    </div>
  </div>
</div>
<hr>
<div class="row flex-items-xs-center">
  <div class="col-md-6 col-xs-12">
    <h3 style="text-align: center;"><app-typewriter [id]="'lastNotificationWriter'" [string]="'This is your last notification !'"></app-typewriter></h3>
    <div class="jumbotron">
    <app-notifications-list></app-notifications-list>
    </div>
  </div>
</div>


