
  <div class="card">
    <img class="card-img-top" src="{{room.image}}" height="128px" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">{{room.name}}</h4>
      <!--<p class="card-text"></p>-->
    </div>
    <div class="card-footer">

      <div class="row">
        <div class="col-6">
          <button style="width: 100%" type="button" class="btn btn-secondary" [routerLink]="['/admin/room', room.id]"><i class="fa fa-eye" aria-hidden="true"></i></button>
        </div>
        <div class="col-6">
          <button style="width: 100%" type="button" class="btn btn-danger" (click)="delete()"><i class="fa fa-trash" aria-hidden="true"></i></button>
        </div>
      </div>

    </div>
  </div>

