<clr-header class="header-1">
	<div class="branding">
		<a routerLink="" class="nav-link">
			<clr-icon shape="vm-bug"></clr-icon>
			<span class="title">Project Ava</span>
		</a>
	</div>
	<div class="header-actions">	
		<clr-signpost>
			<a class="nav-link nav-icon" (click)="notificationsOpened()">
				<clr-icon shape="bell" [class.has-badge-info]="haveNotification" clrSignpostTrigger></clr-icon>
			</a>
			<clr-signpost-content [clrPosition]="'bottom-left'" *clrIfOpen>
				<button (click)="removeAllNotifications()" class="btn btn-danger-outline btn-block btn-sm">Remove all !</button>
				<hr>					
				<app-notifications-list></app-notifications-list>
			</clr-signpost-content>
		</clr-signpost>
		<a class="nav-link nav-icon">
			<clr-icon shape="cog"></clr-icon>
		</a>
	</div>
</clr-header>
<div class="content-container">
	<div class="content-area">
		<router-outlet></router-outlet>
	</div>
	<clr-vertical-nav id="vertical-nav" [clr-nav-level]="1" [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed">
		<a clrVerticalNavLink routerLink="/admin/house">
			<clr-icon clrVerticalNavIcon shape="home"></clr-icon>
			House <span class="badge">1</span>
		</a>
		
		<clr-vertical-nav-group routerLinkActive="active">
			<clr-icon clrVerticalNavIcon shape="hard-disk"></clr-icon>
			NAS <span class="badge badge-info">1</span>
			<clr-vertical-nav-group-children>
				<a clrVerticalNavLink routerLink="/admin/nas" routerLinkActive="active">
					Browse
				</a>
				<a clrVerticalNavLink routerLink="/admin/downloads" routerLinkActive="active">
					Downloads
				</a>
			</clr-vertical-nav-group-children>
		</clr-vertical-nav-group>
		
		<a clrVerticalNavLink routerLink="/admin/drone">
			<clr-icon clrVerticalNavIcon shape="dna"></clr-icon>
			Drone <span class="badge">1</span>
		</a>
		<a clrVerticalNavLink routerLink="/admin/script">
			<clr-icon clrVerticalNavIcon shape="code"></clr-icon>
			Script <span class="badge">1</span>
		</a>
	</clr-vertical-nav>
</div>