<nav class="breadcrumb">
  <ng-container *ngFor="let folder of folders; let i = index;">
    <a class="breadcrumb-item" (click)="backTo(i)">{{folder.name}}</a>
  </ng-container>
  <br>
  <div class="row">
    <div class="col-8">
      <input type="text" class="form-control" name="folder" [(ngModel)]="folder" placeholder="Nom du dossier">
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-secondary" (click)="createFolder()">Créer</button>
    </div>
  </div>
</nav>

<div class="list-group">
  <ng-container *ngFor="let file of files; let i = index;">
    <ng-container *ngIf="file.directory">
      <a class="list-group-item list-group-item-action" (dblclick)="openFolder(i)"> 

        <div class="d-flex w-100 justify-content-between">
          <p class="mb-1"><i class="fa fa-folder" aria-hidden="true"></i>{{file.name}}</p>
          <small><button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteFile(i)" ><i class="fa fa-trash" aria-hidden="true"></i></button></small>
        </div>

      </a>
    </ng-container>
    <ng-container *ngIf="!file.directory">
      <a class="list-group-item list-group-item-action" (dblclick)="openFile(i)"> 
        <div class="d-flex w-100 justify-content-between">
          <p class="mb-1"><i class="fa fa-file" aria-hidden="true"></i>{{file.name}}</p>
          <small>{{file.size}}</small>
        </div>
      </a>
    </ng-container>
  </ng-container>
</div>

<div class="modal fade" id="fileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      
      <ng-container *ngIf="file">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{file.data.name}}</h5>
        </div>

        <div class="modal-body">
          <p>Taille: {{file.data.size}}</p>
        </div>
        
        <div class="modal-footer">
          <a [attr.href]="'/nas/download?path=' + current + '/' + file.data.name" class="btn btn-primary"><i class="fa fa-download" aria-hidden="true"></i></a>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteFile(file.index)" ><i class="fa fa-trash" aria-hidden="true"></i></button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        </div>
      </ng-container>

    </div>
  </div>
</div>
