<h3><b>Browse</b> your nas ! </h3>
<hr>
<clr-tabs>
  <clr-tab>
    <button clrTabLink id="link1">Movies</button>
    <clr-tab-content *clrIfActive>
      <app-movies-list (movieClicked)="onMovieClicked($event)"></app-movies-list>
    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button clrTabLink>Series</button>
    <clr-tab-content *clrIfActive>
      <app-series-list></app-series-list>
    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button clrTabLink>Musics</button>
    <clr-tab-content *clrIfActive>
      ...
    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button clrTabLink>Pictures</button>
    <clr-tab-content *clrIfActive>
      ...
    </clr-tab-content>
  </clr-tab>
</clr-tabs>


